*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.bar{
  width: 6px;
  height: 60px;
  background: white;
  display: inline-block;
  transform-origin: bottom center;
  animation: loading 1.5s ease-in-out infinite;
}
.bar1{
  animation-delay: 0.1s;
}
.bar2{
  animation-delay: 0.2s;
}
.bar3{
  animation-delay: 0.3s;
}
.bar4{
  animation-delay: 0.4s;
}
.bar5{
  animation-delay: 0.5s;
}
.bar6{
  animation-delay: 0.6s;
}
.bar7{
  animation-delay: 0.7s;
}
.bar8{
  animation-delay: 0.8s;
}
@keyframes loading {
  0%{
    transform: scaleY(0.1);
    background: #fff;
  }
  70%{
    transform: scaleY(1);
    background: #2ecc71;
  }
  100%{
    transform: scaleY(0.1);
    background: transparent;
  }
}


button {
	font-family: 'Poppins', sans-serif;
}

header {
	display: flex;
	width: 100%;
	align-items: center;
	position: fixed;
	background: rgba(29,29,31,0.7);
	transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;
	backdrop-filter: saturate(180%) blur(20px);
}
.logo-container,
.nav-links,
.cart {
	display: flex;
}
th {
		font-size : 24px;
		}
.footer {
	position: fixed;
	background-color: #000000;
	text-align: center;
	color: #ffffff;
	bottom: 0px;
	width: 100%;
}
.ap {
		font-size : 0.1px;
	}
.logo-container {
	flex: 1;	
	height: 50px;
}
.logo {
	font-weight: 400;
	margin: 0px;
}
nav {
	flex: 1;
	margin: 0px;
	
}
.nav-links {
	flex: 1;
	justify-content: space-around;
	list-style: none;
}
.nav-links a{
	color: #ffffff;
	font-size: auto;
	text-decoration: none;
}
.collab {
	display: none;
	cursor: pointer;
}
.collab div{
	width: 25px;
	height: 2px;
	background-color: #ffffff;
	margin: 5px;
	transition: all 0.3s ease;
}

.presentation {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: auto;
	align-items: stretch;
}
.introduction {
	flex: 1;
}
.intro-text h1 {
	font-size: 44px;
	font-weight: 500;
	background: linear-gradient(to right, #000000, #000000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: left;
}
.intro-text h2 {
	font-size: 36px;
	font-weight: 500;
	background: linear-gradient(to right, #000000, #000000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #000000;
	text-align: left;
}
.intro-text h3 {
	font-size: 26px;
	font-weight: 500;
	background: linear-gradient(to right, #000000, #000000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #000000;
	text-align: left;
}
.intro-text p {	
	font-size: 18px;
	color: #000000;
	margin: 5px;
}
.cta {
	padding: 2px 0px 0px 0px;
	
}
.intro-select {	
	background: transparent;
	color: #000000;
	font-size: 20px;
}
.cta-select {
	border: 2px solid #000000;
	border-radius: 5px;
	background: transparent;
	color: #000000;
	width: 200px;
	height: 40px;
	cursor: pointer;
	font-size: 16px;
	margin: 1px;
}.cta-prod {
	border: 2px solid #000000;
	border-radius: 5px;
	background: transparent;
	color: #000000;
	width: 28%;
	height: 190px;
	cursor: pointer;
	font-size: 16px;
	margin: 0px;
	display: flex;
}
.cta-vd {
	border: 2px solid #000000;
	border-radius: 5px;
	background: transparent;
	color: #000000;
	width: 50%;
	margin-left: 0px;
	margin-right: 20px;
	align-self: end;
}
.proddat {
	display: flex;
	width: 100%;	
	}
.proddata {
	display: flex;
	justify-content: space-around;
	margin-left: 20px;
}
.proddata p{
	display: flex;
	width: 70%;
}
.cta-prod1 {
	border: 2px solid #000000;
	border-radius: 50%;
	background: transparent;
	color: #000000;
	width: 126px;
	height: 126px;
	cursor: pointer;
	font-size: 16px;
	margin: 1px;
	align-items: center;
}
.cta-add {
	background: #c36cbb;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
	border: none;
	color: white;
	margin: 30px 5px 5px 30px;
	color: #000000;
}
.cover {
	flex: 1;
	display: flex;
	justify-content: center;
	height: 100%;
	
	margin: 2px; 
}
.cover img {
	height: 100%;
	width: 100%;
	filter: drop-shadow (0px 5px 3px black);
	animation: drop 1.5s ease;
	border-radius: 8px;
}
.mob {
		vertical-align: top;
	}
.coverspot {
	flex: 1;
	display: flex;
	justify-content: center;
	position: relative;
	background: transparent;
	margin-top: 2px;
	padding: 0;
}
.coverspot img {
	color: #6f;
	height: auto;
	background: transparent;
	animation: 1.5s ease;
}
.big-circle {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
	opacity: 0.5;
	height: 80%;
}
.medium-circle {
	position: absolute;
	top: 30%;
	right: 30%;
	z-index: -1;
	height: 60%;
	opacity: 0.4;
}
.small-circle {
	position: absolute;
	bottom: 0%;
	left: 20%;
	z-index: -1;
}
.laptop-select {
	width: 25%;
	display: flex;
	justify-content: space-around;
	position: absolute;
	right: 15%;
	background: transparent;
	margin-top: 2px;
	padding: 0;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.form-group {
    margin-bottom: 15px;
	text-align: left;
}

.modal-body {
    position: relative;
    padding: 15px;
	text-align: left;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media screen and (max-width: 1024px) {
	.presentation {
		flex-direction: column;
	}
	.introduction {
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text h1 {
		font-size: 30px;
	}
	.intro-text p {
		text-align: justify;
		font-size: 18px;
		
	}
	.cta {
		padding: 6px 0px 0px 0px;
		
	}
	.laptop-select {
		right: 50%;
		width: 100%;
		transform: translate(50%, 5%);
		margin-top: 2px;
	}
	.cover img {
		height: 80%;
	}
	.small-circle,
	.medium-circle,
	.big-circle {
		opacity: 0.2;
	}
}
@media screen and (max-width: 1300px) {
.cta-prod {
		height: 145px;
	}
	.introduction li{
		text-align: left;
	}
}
@media screen and (min-width: 1400px) {
	.presentation {
		flex-direction: column;
	}
	.nav-links a{
	font-size: 25px;
}
	.presentation p{
	width: 100%;
	}
	.introduction {
		margin-top: 6vh;
		text-align: center;
	}
	.cta-prod {
		height: 210px;
	}
	.intro-text h1 {
		font-size: 50px;
	}
	.intro-text p {
		text-align: justify;
				
	}
	.intro-select {
		font-size: 50px;		
	}
	.laptop-select {
		right: 50%;
		width: 100%;
		transform: translate(50%, 5%);
		margin-top: 2px;
	}
	.nav-link {
		font-size: 1.5vw;
	}
	.cta {
		padding: 5px 0px 0px 0px;
	}
	.cta-select {
		border: 2px solid #000000;
		font-size: 1.5vw;
		width: 250px;
	}
}
@media screen and (max-width: 700px) {
	body{
		overflow-x: hidden;
	}
	th {
    font-size: 14px;
}
	.proddat {
	display: block;
}
	.cta-vd{
		width: 100%;
	}
	.presentation p{
	display: block;
	width: 100%;
	}
	.proddata p{
	font-size: 14px;
	}
	.proddata{
		display: block;
		width: 90%;
	}
	.mob {
		height: 15%;
		width: 15%;
		vertical-align: top;
	}
	.mobh {
		height: 15%;
		vertical-align: top;
	}
	.introduction li {
		text-align: justify;
	}
	.cta-prod {
	width: 100%;
	height: 164px;
	}
	.footer {
		font-size: 2vh;
		width: 100%;
	}
	.mob {
		height: 8.5vh;
	}
	.mobh {
		height: 8.5vh;
	}
	.nav-link {
	display: none;
	}
	.nav-links {
		position: absolute;
		right: 0px;
		height: 25vh;
		top: 50px;
		background-color: #000000;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 30%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li{
		opacity: 0;	
	}
	.collab {
		display: block;
	}	
	.th, td {
		font-size: 3vw;
		}
	.intro-text h3 {
	font-size: 6vw;
}
	.intro-text h2 {
	font-size: 8vw;
}
	.li {
	font-size: 4vw;
}
	.li p {
	font-size: 4vw;
}
}
.nav-active{
	transform: translateX(0%);
}
@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
}

.typewriter h1 {
  color: #f4be00;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .11em; /* Adjust as needed */
  animation: 
    typing 8s steps(39, end),
    blink-caret 1s step-end infinite;
	animation-iteration-count: infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  60% {  }
}
